/* Empty. Add your own CSS if you like */
/*form*/
.invalid-true input{
	border:1px solid #17ECE7;
	box-shadow: 0 0 10px #17ECE7;
}
.invalid-false input{
	border:1px solid #F24206;
	box-shadow: 0 0 20px #F24206;
}

/*detail*/
.row{
	font-size: 20px;
	border-bottom: 1px solid #C7A2F0;
}
.row:nth-child(odd){   

	border-bottom: 1px solid #C7A2F0;
}
.row:nth-child(even){
	border-bottom: 1px solid #C7A2F0;
}

.col{
	border-left: 1px solid #C7A2F0;
	margin-top:10px;
}
.col-20{
	margin:15px 0 0 5px;
}

@media only screen and (max-width:400px){
	.super img{
		display: block;
		margin: 20px auto;
		max-width: 80%;
		max-height: 190px;
		box-shadow: 0 0 5px black;
	}
	.bg{
		height: 200px;
	}
}
@media only screen and (min-width:400px){
	.super img{
		display: block;
		margin: 20px auto;
		max-width: 80%;
		max-height: 390px;
		box-shadow: 0 0 5px black;
	}
	.bg{
		height: 400px;
	}
}
