<ion-pane>
<style>
.icon-plus{
    position: relative;
    width: 200px;
    height: 220px;
    display: inline-block;
    
    background-size: 200px;         
}
input[type='file']{
    width: 200px;
    height: 200px;
    font-size: 0px;
    opacity: 0;
}
progress{
    position: absolute;
    display: none;
    bottom: 20px;
}
</style>    
    <ion-header-bar class="bar bar-positive">
        <a href="#/main/look" class="button button-icon ion-chevron-left">Back</a>
        <h1 class="title">Edit Looking</h1>
        <button class="button button-icon ion-arrow-down-b"  ng-click=""></button>
    </ion-header-bar>
    <ion-content>
       
        <div class="item item-body">



            <form name="form" ng-submit="save()">
                <div class="list list-inset">

                    <div class="item item-divider" >
                       Looking Form
                    </div>
                    <label class="item item-input">
                        <span class="input-label">Tel.</span>
                        <input type="text" name="txt_id" value="{{list.tel}}"  ng-readonly="true">
                    </label>

                    <label class="item item-input " 
                    ng-class="{'invalid-false':form.txt_look.$invalid && !form.txt_look.$pristine,'invalid-true':form.txt_look.$invalid ==false}">
                    <span class="input-label">Looking For</span>
                    <input type="text" required maxlength="100" name="txt_look" ng-model="list.look" placeholder="Looking For" >
                </label>



                     <div class="icon-plus img_c">                   
                        <input type="file" id="file_c" name="file" accept="image/jpeg">
                        <progress id="prog_c" value="0" min="0" max="100"></progress>

                    </div>

                      <div class="icon-plus img_d">                   
                        <input type="file" id="file_d" name="file" accept="image/jpeg">
                        <progress id="prog_d" value="0" min="0" max="100"></progress>

                    </div>

                      <div class="icon-plus img_e">                   
                        <input type="file" id="file_e" name="file" accept="image/jpeg">
                        <progress id="prog_e" value="0" min="0" max="100"></progress>

                    </div>

                      <div class="icon-plus img_f">                   
                        <input type="file" id="file_f" name="file" accept="image/jpeg">
                        <progress id="prog_f" value="0" min="0" max="100"></progress>
                    </div>

                    <button class="button button-block button-positive" type="submit">save</button>
                </div>
            </form>
        </div>
    </ion-content>
</ion-pane>
