<ion-pane >
<style>
	.left{
		float:left;
	}
	.right{
		float:right;
	}
</style>
<ion-header-bar class="bar bar-positive bar-header item-input-inset" >
	<label class="item-input-wrapper">
		<i class="icon ion-ios7-search placeholder-icon"></i>
		<input type="search" ng-model="search" placeholder="Search">
	</label>
	<button class="button button-clear" ng-click="search=null">
		Cancel
	</button>
</ion-header-bar>

	<ion-content>
		<ion-list >
				<ion-item class="item item-thumbnail-left" ng-repeat="data in list | filter:search"  
				ng-href="#/main/look-detail/{{data[0]}}">
				<img ng-src="http://lab.cijcorp.com/mkone/server/real/{{data[3]}}" alt="">
				<div class="left">
					<h2>Looking : {{data[1]}}</h2>
					<!--h2>Tel : {{data[0]}}</h2-->
				</div> 
				<h2 class="right">
					{{data[2]}}
				</h2>
				<ion-option-button class="button-positive" ng-click="goEdit('{{data[0]}}')">Edit</ion-option-button>
							<ion-option-button class="button-assertive" ng-click="confirm($index,'{{data[0]}}','{{data[2]}}')">Delete</ion-option-button>			
				</ion-item>
		</ion-list>
	</ion-content>
</ion-pane>