<ion-pane>
  <ion-header-bar class="bar bar-positive">
        <a class="button button-icon ion-chevron-left" href="#/main/look">Back</a>
        <h1 class="title">Looking Detail</h1>
    </ion-header-bar>
    <ion-content>
		<li>{{data[0]}}</li>
		<li>{{data[1]}}</li>
		<li>{{data[2]}}</li>
		<img src="http://lab.cijcorp.com/mkone/server/real/{{data[4]}}" alt="">
		<img src="http://lab.cijcorp.com/mkone/server/real/{{data[5]}}" alt="">
		<img src="http://lab.cijcorp.com/mkone/server/real/{{data[6]}}" alt="">
		<img src="http://lab.cijcorp.com/mkone/server/real/{{data[7]}}" alt="">
		
	</ion-content>
</ion-pane>
