
<ion-pane >
	
	<ion-tabs class="tabs-icon-top tabs-positive">
	
		 <ion-tab title="List" icon-on="ion-search" icon-off="ion-ios7-search" href="#/main/list">
    		<ion-nav-view name="list" animation="slide-left-right-ios7"></ion-nav-view>
 		 </ion-tab>
 		 <ion-tab title="Looking" icon-on="ion-ios7-glasses" icon-off="ion-ios7-glasses-outline" href="#/main/look">
			<ion-nav-view name="look" animation="slide-left-right-ios7"></ion-nav-view>
 		 </ion-tab>
 		 <ion-tab title="Add Contact" icon-on="ion-ios7-personadd" icon-off="ion-ios7-personadd-outline" href="#/main/form">
			<ion-nav-view name="form" animation="slide-left-right-ios7"></ion-nav-view>
 		 </ion-tab>
 


	</ion-tabs>
</ion-pane>